// Override default variables before the import
$body-bg: #f1f1f1;

$border-radius: 0.15rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.1rem !default;
$grid-gutter-width: 20px  ;

.container-fluid {
  max-width: 1440px;
}
.home-landing {
  .img {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50%;

    &:before {
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: rgba(#000, 0.2);
    }
  }
}

.article-detail {
  .content {
    font-size: 1.2rem;
  }
}

@import "../../../node_modules/bootstrap-scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600");

@import "../../../node_modules/bootstrap-scss/mixins/breakpoints";

@for $i from 10 through 52 {
  .fz-#{$i} {
    font-size: #{$i}px;
  }
  .fz-sm-#{$i} {
    @include media-breakpoint-up(sm) {
      font-size: #{$i}px;
    }
  }
  .fz-md-#{$i} {
    @include media-breakpoint-up(md) {
      font-size: #{$i}px;
    }
  }
}
